/* Variables*/

:root {
  --primary: #2a2f4f;
  --secondary: #c0eef2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

.container {
  padding: 5rem;
}


header {
  background-color:  var(--primary);
  padding: 14px;
  position: sticky;
  top: 0;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  
}

nav a:hover {
  color: var(--secondary);
}

nav a:active {
  color: var(--secondary);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 3rem;
  margin-right: 10px;
}

.icons a {
  color: var(--primary);
  margin-right: 10px;
  transition: transform 0.2s;
}

.icons a:hover {
  transform: scale(1.5);
}

#projects {
  margin-top: 5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #777;
  box-shadow: 5px 10px #888888;
  padding: 20px;
  line-height: 1.5;
}
.card img {
  width: 100%;
  display: block;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--primary);
}

.live {
  display: inline-block;
  background-color: var(--secondary);
  padding: 0.6rem;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.code {
  display: inline-block;
  background-color: var(--primary);
  padding: 0.6rem;
  border-radius: 5px;
  width: 7rem;
}

.code span,
i {
  color: #fff;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}

.tags i {
  margin-top: 10px;
  margin-right: 10px;
}

.card-container h3 {
  font-size: 22px;
}

 
.mobile-nav {
  display: none;
}

/* media query */

@media (max-width: 35em ) {
  .primary-nav {
    gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(0 0% 0% / 0.75);
    z-index: 1000;
    transform: translateX(110%);
    transition:  transform 350ms ease-out;
  
  }
  
  .primary-nav[data-visible = 'true']{
    transform: translateX(10%);

  }

  .mobile-nav {
    position: absolute;
    background: url('assets/hamburger.svg');
    display: block;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    background-repeat: no-repeat;
    border: 0;
  }
 
  .mobile-nav[aria-expanded="true"]{

    background-image: url('assets/xmark-solid.svg');
}

.container {
  margin-top: 1rem;
  padding: 2rem;
  font-size: 20px;
}
#about br {
  display: none;
}

#about h3 {
  margin-bottom: 10px;
}

}